*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fffbfa;
}
@font-face{
    font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face{
    font-family: 'Inter';
    src: url(Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}
li{
    list-style: none;
}
.hd{
    background-color: #00203e;
    font-family: 'Montserrat', sans-serif;
    color: #fffbfa;
    padding: 7px 100px;
    font-size: 18px;
    justify-content: space-evenly;
}
.ix{
    position: absolute;
    top: 15px;
    left: 125px;
}
.IZZY{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    color: #fffbfa;
}
.IZZY:hover{
    color: white;
}
.lu li a{
    color: #fffbfa;
    font-size: 16px;
    font-weight: bold;
}
.lu li a:hover{
    color: #d0e562;
}
.font a{
    color: #b6d369;
    font-size: 22px;
}
.font a:hover{
    
    color: #eae7cb;
}
.snew{
    width: 100%;
    height: fit-content;
    background-color: #f1ebd6;
    border-bottom: 2px solid #5e5e5e;
    /* overflow: hidden; */
}
.nb{
    width: 85%;
    height: fit-content;
    padding: 45px 0;
    /* background-color: #d8b73f;  */
    margin: 0 auto; 
    display: flex;
    gap: 0 40px;
    position: relative;
}
.wtf{
    width: 33%;
    display: block;
    /* background-color: red; */
    height: fit-content;
    position: sticky;
    top: 0px;
    left: 0;

}
.lamskale{
    width: 100%;
    height: 234px;
    border-radius: 10px;
    margin-top: 20px;
    
}
.editt{
    width: fit-content;
    height: fit-content;
    padding: 2px 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #00203e;
    border: 2px solid #787878;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;

}
.editt:hover{
    color: #00203e;
    border: 2px solid #5e5e5e;
}
.skal{
    font-size: 30px;
    font-weight: 510;
    font-family: 'Montserrat', sans-serif;
    color:  #00203e;
    /* margin-top: 500px; */
    /* padding-top: 100px !important; */

}
.rasp{
    width: 45%;
    height: 120px;
    border-radius: 10px;
}
.raxp{
    width: 45%;
    height: 130px;
    border-radius: 10px;
}
.whit{
    width: 55%;
    /* background-color: red; */
    height: fit-content;
    font-size: 18px;
    font-weight: 510;
    font-family: 'Montserrat', sans-serif;
}
/* .hots{
    jj
} */
.hots{
    width: 32%;
    height: fit-content;
}
.gob{
    width: 40%;
    height: fit-content
}
.ots{
    width: 100%;
    height: fit-content;
    /* background-color: green; */
    padding: 15px 0;
    margin-top: 40px;
    color:  #00203e;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #5e5e5e;
}
.rhi{
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #5e5e5e;
}
.rai{
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #5e5e5e; */
}
.ews{
    width: fit-content;
    height: fit-content;
    padding: 1px 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #00203e;
    border: 1px solid #00203e;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    font-size: 11px;

}
.skav{
    font-size: 18px;
    font-weight: 610;
    font-family: 'Montserrat', sans-serif;
    color:  #00203e;
    /* margin-top: 500px; */
    /* padding-top: 100px !important; */

}
.kav{
    color:  #00203e;
    font-size: 18px;

}


.afrob{
    width: 28%;
    height: 350px;
    background-color: #00203e;
    border-radius: 10px;
    position: sticky;
    top: 0px;
    left: 0;
}
.afro{
    width: 100%;
    height: 185px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.ewh{
    width: fit-content;
    height: fit-content;
    padding: 1px 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fffbfa;
    border: 1px solid #fffbfa;
    border-radius: 5px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 11px;

}
.skah{
    font-size: 19px;
    font-weight: 510;
    font-family: 'Montserrat', sans-serif;
    color:  #fffbfa;
    /* margin-top: 500px; */
    /* padding-top: 100px !important; */

}
.skah:hover{
    color:  #fffbfa;
}
.chart{
    width: 92%;
    height: fit-content;
    margin-left: 10px;
    /* background-color: red; */
}
.latest{
    width: 85%;
    height: fit-content;
    /* background-color: #d8b73f; */
    padding: 10px 0;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    /* overflow: hidden; */
    margin: 0px auto;
    padding-top: 50px;
    border-bottom: 2px solid #787878;
}
.latnew{
    width: 85%;
    height: fit-content;
    overflow: hidden;
    overflow-x: scroll;
    padding: 30px 0;
}
.latnew::-webkit-scrollbar{
    background-color: transparent;
}
.rolld{
    width: 230px;
    height: 170px;
    border-radius: 10px;
}
.ads{
    border-top: 1px solid #5e5e5e;
    width: 23%;
    height: 92vh;
    padding: 40px 15px;
    background-color: #00203e;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-bottom: 0px;
    position: absolute;
    top: 59px;
    left: -30%;
    transition: .8s ease-in-out;
    opacity: 0;

}
.ads p a{
    color: #fffaea;
    font-weight: 510;
}
.pasp{
    width: 100%;
    height: 120px;
    border-radius: 10px;
}
.bih{
    width: 100%;
    height: fit-content;
    padding: 5px 0;
    border-bottom: 1px solid #5e5e5e;
    margin-top: 50px;

}
.hop{
    width: 100%;
    height: fit-content;
    color: #fffaea;
    padding: 10px 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    /* text-align: center; */

}
.ist{
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    border-bottom: 1px solid #5e5e5e;
}
.tst{
    width: 100%;
    height: fit-content;
    padding: 10px 0;
    border-bottom: 1px solid #5e5e5e;
    margin-top: 20px;
}
.ext{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    left: 125px;
    opacity: 0;
}
input:checked ~ .ads{
    left: 0%;
    opacity: 1;
    
}
.paxp{
    width: 100%;
    height: 130px;
    border-radius: 10px;
}
.jik{
    width: 55%;
    height: fit-content;
    /* background-color: yellow; */
}
.fik{
    width: 55%;
    height: fit-content;
    /* background-color: yellow; */
}
.hist{
    width: 270px;
    height: 350px;
    /* background-color: red; */
}
.ewk{
    width: fit-content;
    height: fit-content;
    padding: 1px 4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #00203e;
    border: 1px solid #00203e;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    font-size: 11px;

}
.skak{
    font-size: 17px;
    font-weight: 510;
    font-family: 'Montserrat', sans-serif;
    color:  #00203e;
    /* transition: .5; */
    /* margin-top: 500px; */
    /* padding-top: 100px !important; */

}
.mew{
    width: 100%;
    height: fit-content;
    background-color: #00203e;
}
.atest{
    width: 85%;
    height: fit-content;
    /* background-color: #d8b73f; */
    padding: 25px 0;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #fffaea;
    font-weight: bolder;
    /* overflow: hidden; */
    margin: 0px auto;
    /* margin-top: 50px; */
    border-bottom: 2px solid #fffaea;
    display: flex;
    justify-content: space-between;
}
.rollda{
    width: 180px;
    height: 175px;
    border-radius: 100%;
}
.gist{
    width: 270px;
    height: fit-content;
    /* background-color: red; */
}
.ewj{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 23px;
    text-align: center;
    color: #fffaea;

}
.ewj:hover{
    color: #fffaea;

}
.skaj{
    font-size: 17px;
    font-weight: 510;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color:  cyan;
    /* margin: 0px auto; */
    text-align: center;
    /* color: #fffaea; */

}
.skaj:hover{
    color:  cyan;

}
.tpag{
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fffaea;


}
.lagso{
    width: 100%;
    height: 394px;
    border-radius: 10px;
    margin-top: 20px;
    
}
.lagsok{
    width: 100%;
    height: 394px;
    border-radius: 10px;
    margin-top: 20px;
    
}
.skau{
    font-size: 17px;
    font-weight: 510;
    font-family: 'Montserrat', sans-serif;
    color:  #00203e;
    /* transition: .5; */
    /* margin-top: 500px; */
    /* padding-top: 100px !important; */
}
.bn{
    width: 85%;
    height: fit-content;
    padding: 45px 0;
    /* background-color: #d8b73f;  */
    margin: 0 auto; 
    display: flex;
    gap: 0 40px;
    position: relative;
}
.avtest{
    width: 85%;
    height: fit-content;
    /* background-color: #d8b73f; */
    padding: 25px 0;
    padding-top: 60px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #00203e;
    font-weight: bolder;
    /* overflow: hidden; */
    margin: 0px auto;
    /* margin-top: 50px; */
    border-bottom: 2px solid #00203e;
    display: flex;
    justify-content: space-between;
}
.basp{
    width: 100%;
    height: 120px;
    border-radius: 10px;
}
.baxp{
    width: 100%;
    height: 130px;
    border-radius: 10px;
}
.vn{
    width: 85%;
    height: fit-content;
    padding: 45px 0;
    /* background-color: #d8b73f;  */
    margin: 0 auto; 
    display: flex;
    gap: 0 40px;
    position: relative;
    justify-content: flex-end;
}
.skalee{
    width: 100%;
    height: 224px;
    border-radius: 10px;
    margin-top: 20px; 
}
.skaleek{
    width: 100%;
    height: 224px;
    border-radius: 10px;
    margin-top: 20px; 
}
.snef{
    width: 100%;
    height: fit-content;
    background-color: #f1ebd6;
    /* border-bottom: 2px solid #5e5e5e; */
    /* overflow: hidden; */
}
.casp{
    width: 100%;
    height: 120px;
    border-radius: 10px;
}
.caxp{
    width: 100%;
    height: 130px;
    border-radius: 10px;
}
.lasp{
    width: 100%;
    height: 120px;
    border-radius: 10px;
}
.laxp{
    width: 100%;
    height: 130px;
    border-radius: 10px;
}
.foot{
    width: 100%;
    height: fit-content;
    padding: 40px 80px;
    background-color: #00203e;
    border-bottom: 1px solid #5e5e5e;
    display: flex;
    justify-content: space-between;
}
.fizzy{
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    color: #eae7cb;
    font-weight: bolder;
}
.ent{
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    color: #fffaea;


}
.mont a{
    color: #eae7cb;
    font-size: 18px;
}
.mont a:hover{
    
    color: #b6d369;
}
.monj{
    width: 100%;
    border-bottom: 1px solid #5e5e5e;
    padding: 30px 0;
}
.monj a{
    color: #eae7cb;
    font-size: 18px;
}
.monj a:hover{
    
    color: #b6d369;
}
.fact p .fila{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #eae7cb;
}
.ill{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #eae7cb;

}
.ill:hover{
    color: #eae7cb;
}
.copyr{
    width: 100%;
    height: fit-content;
    color: #eae7cb;
    padding: 20px 0;
    text-align: center;
    background-color: #00203e;
    font-family: 'Montserrat', sans-serif;

}
.ard{
    margin-left: 15px;
}
@media (max-width: 1500px) {
    .ext:hover{
        cursor: pointer;
    }
    
}
@media (max-width: 1199px) {
    .hd{
        /* background-color: rgb(0, 255, 0); */
        padding: 7px 0;
    }
    .gr{
        display: none;
    }
    .lu li a{
        display: none;
    }
    .nb{
        display: block;
    }
    .wtf, .afrob{
        position: relative;
    }
    .nb{
        width: 60%;
    }
    .ads{
        width: 30%;
        height: 92vh;
        position: absolute;
        top: 59px;
        left: -100%;
        transition: .9s ease-in-out;
    
    }
    .ext{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        left: 170px;
        opacity: 0;
    }
    .wtf{
        width: 100%;
        height: fit-content;
        /* background-color: red; */
    }
    .lamskale{
        height: 384px;

    }
    .hots{
        width: 100%;
    }
    .rhi{
        width: 100%;
    }
    .skal{
        font-size: 18px;
        font-weight: 550;
    }
    .rasp{
        width: 25%;
        height: 120px;
        border-radius: 10px;
    }
    .raxp{
        width: 25%;
        height: 130px;
        border-radius: 10px;
    }
    .whit{
        width: 75%;
    }
    .skav{
        font-size: 14px;
    }
    .kav{
        font-size: 14px;
    }
    .afrob{
        width: 100%;
        height: 490px;
        /* background-color: #d0e562; */
    }
    .afro{
        width: 100%;
        height: 380px;
    }
    .latest{
        width: 60%;
        font-size: 25px;
    }
    .latnew{
        width: 60%;
    }
    .skah{
        font-size: 17px;
    }
    .skak{
        font-size: 15px;
    }
    .atest{
        width: 60%;
        font-size: 20px;
        flex-direction: column;
        font-family: 'Inter', sans-serif;
    }
    .eek{
        font-size: 14px;
    }
    .rollda{
        width: 160px;
        height: 155px;
        border-radius: 100%;
    }
    .tpag{
        font-size: 35px;
    }
    .ewj{
        font-size: 18px;
    }
    .skjaj{
        font-size: 12 px;
    }
    .bn{
        display: block;
        width: 60%;
    }
    .avtest{
        width: 60%;
    }
    .lagso{
        width: 100%;
        height: 600px;
    }
    .lagsok{
        width: 100%;
        height: 620px;
    }
    .gob{
        width: 24%;
    }
    .pasp{
        width: 100%;
    }
    .jik{
        width: 75%;
    }
    .skau{
        font-size: 16px;
    }
    .vn{
        display: block;
        width: 60%;
    }
    .skalee{
        width: 100%;
        height: 430px;
    }
    .skaleek{
        width: 100%;
        height: 520px;
    }
    .fik{
        width: 75%;
    }
    .foot{
        display: block;
    }
    .fact{
        margin-top: 10px;
    }
    .jiss{
        width: 70%;
        height: fit-content;
        padding: 10px 0;
        border-bottom: 2px solid #5e5e5e;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .fact{
        width: 70%;
        height: fit-content;
        margin: 0 auto;
        padding: 2px 0;
        /* border-bottom: 2px solid #5e5e5e; */
    }
   
}
@media (max-width: 1100px) {
    .nb{
        width: 65%;
    }
    .editt{
        padding: 2px 5px;
        font-size: 10px;
    }
    .skal{
        font-size: 15px;
    }
    .ads{
        width: 35%;
        height: 92vh;
        position: absolute;
        top: 59px;
        left: -50%;
        transition: 1s ease-in-out;
    
    }
    .ext{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        left: 155px;
        /* opacity: 0; */
    }
    .lamskale{
        height: 400px;
    }
    .latest{
        width: 65%;
        font-size: 25px;
    }
    .latnew{
        width: 65%;
    }
    .atest{
        width: 65%;
    }
    .bn{
        width: 65%;
    }
    .avtest{
        width: 65%;
    }
    .gob{
        width: 25%;
    }
    .jik, .fik{
        width: 72%;
    }
    .vn{
        width: 65%;
    }
    
}
@media (max-width: 900px) {
    .lamskale{
        height: 320px;
    }
    .skal{
        font-size: 14px;
    }
    .rasp{
        width: 25%;
        height: 100px;
        border-radius: 10px;
    }
    .ext{
        position: absolute;
        top: 15px;
        left: 115px;
        /* opacity: 0; */
    }
    .ads{
        width: 45%;
        height: 92vh;
        position: absolute;
        top: 59px;
        left: -50%;
        transition: 1s ease-in-out;
    
    }
    .raxp{
        width: 25%;
        height: 100px;
        border-radius: 10px;
    }
    .afro{
        height: 350px;
    }
    .afrob{
        height: 470px;
    }
    .chart{
        font-size: 10px;
    }
    .skah{
        font-size: 16px;
    }
    .lagso{
        height: 520px;
    }
    .skalee{
        height: 390px;
    }
    .lagsok{
        height: 450px;
    }
    .gob{
        width: 32%;

    }
    .jik, .fik{
        width: 65%;
    }
    .skaleek{
        height: 450px;
        border-radius: 20px;
    }
}
@media (max-width: 800px) {
    .nb{
        width: 75%;
    }
    /* .hd{
        background-color: red;
    } */
    .latest{
        width: 75%;
        font-size: 25px;
    }
    .latnew{
        width: 75%;
    }
    .atest{
        width: 75%;
    }
    .lagso{
        height: 420px;
    }
    .skalee{
        height: 370px;
    }
    .ext{
        position: absolute;
        top: 15px;
        left: 95px;
    }
    
}
@media (max-width: 700px) {
    /* .hd{
        background-color: black;
    } */
    .nb{
        width: 85%;
    }
    .latest{
        width: 85%;
    }
    .latnew{
        width: 85%;
    }
    .atest{
        width: 85%;
    }
    .avtest{
        width: 85%;
    }
    .bn{
        width: 85%;
    }
    .lagso{
        height: 520px;
    }
    .vn{
        width: 85%;
    }
}
@media (max-width: 620px) {
    /* .hd{
        background-color: red;
    } */
    .nb{
        width: 95%;
    }
    .afro{
        height: 310px;
    }
   
     .latest{
        width: 95%;
    }
    .latnew{
        width: 95%;
    }
    .atest{
        width: 95%;
    }
    .avtest{
        width: 95%;
    }
    .bn{
        width: 95%;
    }
    .lagso{
        height: 520px;
    }
    .vn{
        width: 95%;
    }
    .ext{
        position: absolute;
        top: 15px;
        left: 65px;
        /* opacity: 1; */
    }
    
}
@media (max-width: 600px) {
    /* .hd{
        background-color: blue;
    } */
    .ads{
        width: 50%;
        height: 92vh;
        position: absolute;     
        top: 59px;
        left: -50%;
        transition: 1s ease-in-out;
        
    
    }
    .hop{
        font-size: 14px;
    }
    .ext{
        position: absolute;
        top: 15px;
        left: 35px;
    }
     .lamskale{
        height: 280px;
    }
    .skalee{
        height: 300px;
    }
    
}




/* #787878 body-text, icons, borders        #5e5e5e
#fffbfa page backgrounds header-text        #f2efee
#00203e buttons and headings                #001933
#eae7cb cards highlights                    #dcd9b8 
#fffaea secondary backgrounds               #f1ebd6    */

